<h3>Autenticação</h3>

<form action="/admin/login" method="post">
    <input name="email" type="email" placeholder="E-mail">
    <input name="password" type="password" placeholder="Senha">
    <input type="submit" value="Salvar">
</form>