<h3>Edição Páginas</h3>

<form method="post" accept-charset="UTF-8" action="/admin/pages/edit/{{ page.id }}">
    <input type="text" name="title" placeholder="Título" value="{{ page.title }}">
    <textarea name="body" id="" cols="30" rows="10">{{ page.body }}</textarea>    
    <input type="submit" value="Salvar">
</form>